.sortable {
	background: #f7f7f7 url('data:image/gif;base64,R0lGODlhCwAJAIAAAEdHRwAAACH5BAEAAAEALAAAAAALAAkAAAIRjGGpwJoMHZyurtlurNuiWgAAOw==') right center no-repeat;
	padding-right: 15px !important;
	cursor: pointer;
}
.sort-asc {
	background-image: url('data:image/gif;base64,R0lGODlhCwAJAIAAAEdHRwAAACH5BAEAAAEALAAAAAALAAkAAAIOjGGpwJoMHZyu2ouzTgUAOw==');
}
.sort-desc {
	background-image: url('data:image/gif;base64,R0lGODlhCwAJAIAAAEdHRwAAACH5BAEAAAEALAAAAAALAAkAAAINjI+py+0AI0hyqthsKgA7');
}
.filterrow > td > label {
	display: block;
	cursor: pointer;
}
label.novalue {
	font-style: italic;
	color: graytext;
}
